*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-weight: 700;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.btn-primary{
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: orangered;
    border: 0;
}
.text-primary{
    color: orangered;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: grey;
    font-size: 18px;
    margin-bottom: 30px;
}